\.idea/
# Compiled class file
*.class

# Log files
*.log

# JAR packages
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Gradle build files
build/*
gradle/*
.gradle/*

# build history
ci-history/*
!ci-history/template.html

